@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
header {
  overflow: hidden;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background-color: #000000;
}
.img1{
  background-repeat:no-repeat;
  background-size:cover;
  opacity: .6;
}
.logo {
  width: 200px;
  height: 100px;
  float: left;
}
nav {
  float: right;
  text-decoration: none;
  text-align: center;
  justify-content: space-evenly;
  width: 50%;
  margin: 15px;
  display: flex;
}
nav a {
  text-decoration: none;
  justify-content: space-between;
}
nav a:hover {
  color: blue;
  text-decoration: underline;
}

.wrapper {
  font-family: "Montserrat" , sans-serif;
  width: 450px;
  padding: 15px 1rem;
  margin: 15px auto;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.878);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
h1 {
  font-family: "Montserrat" , sans-serif;
  font-size: 30px;
  color: #000000;
  margin-bottom: 1.5rem;
}
form input {
  font-family: "Montserrat" , sans-serif;
  font-size: 15px;
  width: 100%;
  outline: none;
  border: 2px solid #fff;
  padding: 15px 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #e4e4e4;
}
button {
  font-family: "Montserrat" , sans-serif;
  font-size: 1rem;
  margin-top: 15px;
  padding: 10px 0;
  border-radius: 20px;
  outline: none;
  border: none;
  width: 90%;
  background: rgb(17, 107, 143);
  color: #fff;
  cursor: pointer;
}
button:hover {
  background: rgba(17, 107, 143, 0.877);
}
input:focus {
  border: 1px solid rgb(192, 192, 192);
}
.terms {
  margin-top: 10px;
}
.terms input {
  height: 1em;
  width: 1em;
  vertical-align: middle;
  cursor: pointer;
}
.terms label {
  font-family: "Montserrat" , sans-serif;
  font-size: 0.7rem;
}
.terms a {
  color: rgb(17, 107, 143);
  text-decoration: none;
}
.member {
  font-family: "Montserrat" , sans-serif;
  font-size: 0.8rem;
  margin-top: 15px;
  color: #636363;
}
.member a {
  font-family: "Montserrat" , sans-serif;
  font-size: 1rem;
  color: rgb(17, 107, 143);
  text-decoration: none;
}
